body {
  background-color: #202020 !important;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  background-image: linear-gradient(
      rgba(245, 255, 255, 0.11),
      rgba(255, 255, 255, 0.3)
    ),
    url(../assets/banner2.png);
  background-attachment: fixed;
  background-size: cover;
}
.brand-nav {
  color: #66fcf1 !important;
}
.brand {
  flex: 9 0 0;
}
.banner {
  width: 100%;
  height: 500px;
  background: url(../assets/banner2.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.banner-text {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
.my-menu {
  float: right;
  color: #fff;
}
.my-link {
  transition: 0.7s;
  color: #ffffff;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.my-link:hover {
  color: #66fcf1 !important;
  background: transparent;
  border: none;
}
.my-link:active {
  border: none;
}
.my-link:focus {
  border: none;
}
.full-width {
  width: 100%;
}
.white-color {
  color: #fff !important;
}
.get-started-button {
  border-radius: 50% !important;
}
.section-bg {
  background-color: #262625;
}
.section-title {
  color: #66fcf1;
  font-weight: bold;
}
.img-responsive {
  width: 100%;
}
.sticky-nav {
  position: fixed !important;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #262625 !important;
  background-image: none !important;
}
.place-item-in-center {
  margin-left: auto !important;
  margin-right: auto !important;
}
footer {
  background-color: #000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.footer-note {
  color: #ffffff7a;
}
.social-media-icons {
  width: 1.2em;
}
.sm-icons {
  border: 1px dashed #fff;
  border-radius: 50%;
  padding: 5px 5px 10px 13px;
  margin-bottom: 10px;
  width: 3em;
}
.sm-container {
  margin-top: auto;
  margin-bottom: auto;
}
.sm-list {
  /* background: #1565c0; */
}
.sm-icons:hover {
  background: #fff;
}
.sm-icons:hover .social-media-icons {
  filter: invert(1);
}
.skills-box {
  background: #00ffff14;
  border-radius: 0.5em;
  padding: 15px;
}
@media screen and (max-width: 600px) {
  .banner-text {
    position: absolute;
    top: 15%;
    transform: none;
    left: auto;
    transform: none;
  }
  .banner {
    width: 100%;
    height: 300px;
  }
}
